body{
    background-color: gainsboro;
}

/** Header Styling **/
.logo{
    height: 70px;
    width: 170px;
}
.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn-top{
    border-radius: 0px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #528F8B !important;
    border: 0px;
    color: white;
    font-family: 'Open Sans' , sans-serif;
}
.navbar-first{
    background-color: #E7462E !important;
}
.nav-wrapper{
    margin-left: -15px;
    margin-right: -15px;
}
.container{
    padding-top: 15px;

}
.ul-social{
    list-style-type: none;
    padding: 0px;
    display:inline;
    margin-bottom:1px;
}
a{
    text-decoration: none !important;
}.social{
    float: left;
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
}
.fb{
    color: #3B5998;
}
.tw{
    color: #00ACED;
}



h1, h5, h5{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.row{
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: white;
}
.login{
    margin-top: 15px;
}
.margin-bottom{
    margin-bottom: 30px;
}
.margin-top{
    margin-top: 30px
}
.upload-btn{
    background-color: #528F8B !important;
    border: 0px;
    padding: 10px 45px;
    margin-top: 20px;
    margin-left: 35px;
}

/**Footer Styling**/

.footer{
    height: 70px;
    margin-bottom: 20px;
    background: #E7462E !important;
    font-family: 'Open Sans' , sans-serif;
    padding-top: 20px;
}
svg{
    height: 30px;
    width: 30px;
    margin-left: 5px;

}
.madeby
{
    padding-left: 20px;
    margin-top: 5px;
    color: white;
}
.madeby2{
    padding-left: 10px;
    margin-top: 5px;
    color: white;
}
.border-wrapper{
    border: 1px solid #E6E6E6;
    padding: 10px;
    margin-bottom: 20px;
}
.header{
    background: #E7462E;
    height: 32px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
@media(max-width:469px){
    .header{
        height: 60px;
    }
}
.center{
    text-align: center;    
}
.logout{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
}
