body{
    background-color: gainsboro;
}

/********************/
/*  Header Styling  */
/********************/

.logo{
    height: 70px;
    width: 170px;
}
.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn-top{
    border-radius: 0px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #528F8B !important;
    border: 0px;
    color: white;
    font-family: 'Open Sans' , sans-serif;
}
.navbar-first{
    background-color: #E7462E !important;
}
.container{
    padding-top: 15px;

}
form{
    margin-bottom: 0px !important;
}
.inputfield{
    margin-right: 20px
}
.navbar-second{
    background-color: white !important;
}
.searchbtn{
    background-color: #528F8B;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Open Sans' , sans-serif;
}
.input-group-addon{
    background-color: #E7462E;
    color: white;
}
.nav-wrapper{
    margin-left: -15px;
    margin-right: -15px;
}
.social{
    float: left;
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
}
.fb{
    color: #3B5998;
}
.tw{
    color: #00ACED;
}
ul{
    list-style-type: none;
    padding: 0px;
}

/********************/
/*  Footer Styling  */
/********************/

@media(max-width:492px){
    .madeby2{
        font-size: 12px;
    }
    .madeby{
        font-size: 12px;
    }
    svg{
        height: 25px;
        width: 25px;
    }
    .footer{
        height: 50px;
    }
}
@media(max-width:385px){
    .madeby2{
        font-size: 11px;
    }
    .madeby{
        font-size: 11px;
    }
    svg{
        height: 25px;
        width: 25px;
    }    
}
svg{
    height: 30px;
    width: 30px;
    margin-left: 5px;

}
.madeby{
    padding-left: 20px;
    margin-top: 5px;
    color: white;
}
.madeby2{
    padding-left: 10px;
    margin-top: 5px;
    color: white;
}
.footer{
    height: 70px;
    margin-bottom: 20px;
    background: #E7462E !important;
    font-family: 'Open Sans' , sans-serif;
}

/*********************/
/*  Content Styling  */
/*********************/

.img-wrapper{
    
    
}
.album-img{
    height: 30%;
    width: 100%;
}
.col-sm-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pagination{
    margin-top: 20px;
}